@inherits ComponentBase
@namespace DropBear.Blazor.Components.Components.Downloader
<div class="file-downloader">
    <div class="file-downloader-item">
        <div class="file-downloader-name">@FileName</div>
        <div class="file-downloader-info">@FileType - @FileSize</div>
        <div class="file-downloader-progress">
            <div class="file-downloader-progress-bar" style="width: @(_progress)%;"></div>
        </div>
        <button class="file-downloader-button" @onclick="StartDownload" disabled="@_isDownloading">
            @if (_isDownloading)
            {
                <i class="fas fa-spinner file-downloader-spinner"></i>
                <span>Downloading...</span>
            }
            else if (_isCompleted)
            {
                <i class="fas fa-check"></i>
                <span>Downloaded</span>
            }
            else
            {
                <i class="fas fa-download"></i>
                <span>Download</span>
            }
        </button>
    </div>
</div>
